@import "../variables"

.form-quickpost-box
  color: $color-text
  padding: 5%
  max-width: 100%
  background-color: $secondary
  //box-shadow: $color-text 3px 4px 4px

.form-quickpost-label
  text-transform: uppercase

.form-quickpost-btn
  margin-top: 15px
  background-color: unset
  color: $color-text
  font-family: $button-font

.form-quickpost-submit-btn
  @extend .form-quickpost-btn
  background-color: $primary
  border-radius: 10px
  box-shadow: $primary 4px 4px 4px


.form-quickpost-textarea
  border: none
  resize: none
  max-width: 100%
  width: 100%
  height: 100%
  background-color: $background-second
  color: $color-text
  overflow: hidden
