@import "../variables"

$box-shadow-color: rgba(0, 0, 0, 0.25)

.loginbox
  background-color: $primary
  box-shadow: 0 4px 4px $box-shadow-color
  border-radius: 15px
  padding: 2px
  color: $color-text
  justify-content: center
  flex-direction: column
  align-items: center
  width: 35%

.btn-login
  background-color: $button-color
  font-family: $button-font

.btn-login-div
  align-content: center
  justify-content: center
  display: flex
