@import "../variables"

$onlyfans-color: #29BDC7

.form-onlyfans
  background-color: $background-second
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
  border-radius: 5px
  padding: 2%

.form-onlyfans-title
  color: $onlyfans-color
  font-family: 'Rochester', cursive
  font-style: normal
  font-weight: normal
  font-size: 32px
  line-height: 46px
  text-align: center
