@import "../variables"

.image-quickpost
  display: flex
  flex-direction: column
  border-radius: 10px
  width: auto
  height: auto
  overflow: hidden
  box-shadow: #b3b0b0 3px 3px 3px
  background: linear-gradient(0deg, rgba(209, 169, 109, 0.47), rgba(209, 169, 109, 0.47))
  mix-blend-mode: normal

.image-quickpost-img
  align-content: center
  align-items: center
  transition-duration: 0.5s
  transform: scale(1.3)
