@import "../variables"

.loading-div
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  min-height: 100vh
  background-color: $background-dark
  box-shadow: 0 0 3px $shadow-color

.loading-text
  color: $color-text
  text-shadow: 0 1.1px 1px $shadow-color

.loading-box-image
  box-shadow: 0 0 3px $shadow-color
  overflow: hidden
  object-fit: contain

.loading-image
  filter: hue-rotate(272deg) saturate(100%)
  animation-name: loading
  animation-duration: 8s
  animation-iteration-count: infinite
