@import "../variables"

.navbar-custom
  background-color: $secondary
  z-index: 999
  padding: 12px 2px

.navbar-custom-btn
  font-family: $button-font
  font-style: normal
  font-weight: normal
  color: #000000
  font-size: 1.25rem
  line-height: 17px
  background-color: $white-color
  border-radius: 5px
  mix-blend-mode: normal
  text-transform: capitalize
  text-shadow: 0 0.5px 1.6px #000
  padding: 2.5px 9px
  margin: 2px
  cursor: pointer
