@import "../variables"

.news
  background-color: $background-second
  border-radius: $of-border-radius
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))

.news-text
  text-align: center
  font-family: 'Roboto', serif
  font-style: normal
  font-weight: bolder
  font-size: 20px
  color: $color-text
  text-decoration: none
  line-height: 1.5em
  height: 4em

.news-source-name
  height: auto
  font-size: 10px
  color: $color-text
  text-transform: capitalize
  font-style: italic

.news-have-content
  background-color: $primary
