@import "../variables"

$of-border-radius: 22px

.onlyfans
  background-color: $background-second
  border-radius: $of-border-radius
  max-height: 450px
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))

.onlyfans-top-card
  border-radius: $of-border-radius $of-border-radius 0 0
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
  transition: transform 0.6s

.onlyfans-card-aling
  justify-content: space-around

.onlyfans-card
  align-items: stretch
  border-radius: $of-border-radius $of-border-radius 0 0
  border-bottom: solid black 1px
  box-shadow: black 0 1px 2px
  height: 220px
  overflow-y: hidden

.onlyfans-img-model
  object-fit: cover
  min-height: 100%
  width: 100%

.onlyfans-tags-model
  overflow: hidden
  width: 100%
  z-index: 1
  min-height: 100%
  background-color: $background-dark

.onlyfans-text
  font-size: 18px
  text-align: center
  font-family: 'Roboto', serif
  font-style: normal
  font-weight: normal
  color: $color-text
  text-decoration: none
  line-height: 1.5em
  height: 3em
  overflow: hidden

.onlyfans-text-modelname
  height: auto
  font-size: 10px
  color: $color-text
  text-transform: capitalize
  font-style: italic

.onlyfans-duration
  display: flex
  font-size: 10px
  font-style: normal
  font-weight: normal
  text-decoration: none
  color: $color-text
  padding: 3px
  background-color: $background-dark
  height: 85%

.onlyfans-image
  min-height: 100%
  width: 100%
  object-fit: cover
  border-radius: $of-border-radius $of-border-radius 0 0
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))

.onlyfans-btn-delete
  color: #DE3939
  font-size: 18px
  cursor: pointer
