@import "../variables.sass"

.page-tech-poc h3
  color: $color-text
  font-weight: bolder


.tech-item-list
  font-family: $twitter-font-family
  text-align: left
  font-size: 15px
  font-weight: 400
  line-height: 20px
  color: $color-text
  padding: 2%
  mix-blend-mode: normal
  box-sizing: border-box
  transition-duration: 0.5s
  border: 0.2px solid $color-text

.tech-item-list:active, .tech-item-list:hover
  background-color: $primary
  transform-style: flat
  color: $color-text

.tech-item-list-text
  text-align: center
  font-size: 18px
  font-style: normal
  font-weight: 400
  line-height: normal
  text-transform: capitalize


.tech-item-list-text span
  font-family: Jost, fantasy
  padding-left: 2%
  padding-right: 2%
  font-weight: bold

.tech-item-list-text small
  font-family: Indie Flower, fantasy
  font-style: italic
  padding-left: 2%
  padding-right: 2%
  font-size: 14px
