@import "../variables"

$background-quickpost: rgb(12, 12, 12)
$border-radius-quickpost: 0
$border-size-quickpost: 0.5px
$border-color-quickpost: rgba(255, 255, 255, 0.15)
$color-quickpost-actions: rgb(113, 118, 123)

.quickpost-box
  background-color: $background-quickpost
  border: solid $border-color-quickpost $border-size-quickpost
  padding: 0
  display: flex
  flex-direction: column
  border-radius: $border-radius-quickpost
  font-family: 'Roboto Light', serif
  margin-bottom: 2%
  box-shadow: #b3b0b0 2px 2px 2px

.quickpost-text
  color: $color-quickpost-actions
  word-wrap: break-word
  font-family: $twitter-font-family
  text-align: left
  font-size: 15px
  font-weight: 400
  line-height: 20px
  align-items: normal
  align-content: center

.quickpost-calendar
  position: relative
  left: 7%

.quickpost-view
  position: relative
  left: 22%

.quickpost-description
  word-wrap: break-word
  font-family: $twitter-font-family
  text-align: left
  font-size: 15px
  font-weight: 400
  line-height: 20px
  color: $color-text
  padding: 2%
  mix-blend-mode: normal
  box-sizing: border-box

.quickpost-delete-btn
  color: $color-quickpost-actions
  position: relative
  left: 75%
  font-size: 18px

.quickpost-actions
  background-color: $background-quickpost
  color: $color-quickpost-actions
  padding: 1% 2%
  border-top: white 1px solid
  border-bottom-right-radius: $border-radius-quickpost
  border-bottom-left-radius: $border-radius-quickpost
