@import "../variables"

$background-container: rgb(12, 23, 27)
$color-text-container: rgb(48, 58, 65)

.stock-chart-container
  display: flex
  align-items: flex-end
  justify-content: space-around
  height: auto
  width: 100%
  background-color: $background
  box-sizing: border-box


.stock-bar
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-end
  margin-left: 1px
  margin-right: 1px
  width: 120px
  position: relative


.stock-bar-container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-end

.stock-container
  margin-bottom: 1px
  background-color: $background-container
  overflow: hidden
  text-align: right
  box-sizing: border-box

.stock-container:last-child
  margin: 0

.stock-label
  color: $color-text-container
  text-align: right
  font-size: x-small
  align-self: center
  padding: 1%
  margin: 1%
  font-family: Consolas, monospace

.stock-label-title
  @extend .stock-label
  font-size: small
  text-align: left

.stock-card-info
  background-color: $background-container
  padding: 1%
  border-radius: 5px
  text-align: center
  color: $color-text-container
  border-top: $white-color dashed 1px
  height: 100%


.stock-card-info-select
  @extend .stock-card-info
  color: $white-color
  background-color: $primary
  border-top: $white-color dashed 1px
  box-shadow: $primary 0 0 10px

.link-stock
  background-color: $primary
  text-transform: uppercase

@media (max-width: 768px)
  .stock-label-title
    font-size: xx-small
  .stock-container
    height: 35%
    width: 120%
  .stock-chart-container
    width: auto
    overflow-y: hidden
    overflow-x: scroll
  .stock-bar
    width: auto

@media (min-width: 768px)
  .stock-container
    height: 35px
    width: 120px
