@import "../variables"

$bg-tag: #F1E7E7

.tagmodel
  display: inline-flex
  border-radius: 10px
  background: $bg-tag
  overflow-y: hidden
  border: none

.tagmodel span
  color: #000
  text-align: center
  font-family: Roboto, serif
  font-size: 9px
  font-style: normal
  font-weight: 700
  line-height: normal
  margin-left: 1px
  margin-right: 1px
  z-index: 3

.tagmodel-title
  font-weight: bold
  border-radius: 10px 0 0 10px
  border: none
  padding: 3px
  z-index: 3

.tagmodel-value
  padding-right: 4px
