@import "../variables.sass"

.tag-tech
  background-color: $button-color
  font-family: $button-font, serif
  color: $secondary
  text-transform: capitalize
  font-weight: bold
  border: none
  border-radius: 10px
  padding: 4px 8px
  margin: 2px

.pills
  @extend .tag-tech
