@import "../variables"

.techtype
  color: $primary
  font-family: $twitter-font-family
  font-weight: bold
  text-transform: capitalize

.techtype-select
  border: none

.techtype-option
  font-family: $twitter-font-family
  color: $color-text
  background-color: $background

.techtype-select:after
  background-color: $primary
