@import "../variables.sass"

.techselected
  color: $color-text
  font-family: $twitter-font-family

small.techselected
  font-size: 10px
  text-transform: capitalize


p.techselected
  padding: 2%
  text-align: left

span.techselected
  text-align: center
  font-weight: bold
