@import "../variables"

.to-up-anchor
  background-color: $button-color
  font-family: $button-font
  text-decoration: none
  padding: 10px
  border-radius: 100px
  position: sticky
  bottom: 20px
  text-align: center
  align-content: center
  align-items: center
  opacity: 0.6
