@import "../variables"

$background-wof: rgba(15, 15, 15, 0.83)

.word-of-day-wrapper
  display: flex
  flex-direction: column
  padding: 2px
  border: none
  background-color: $background-wof
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px

.word-of-day-wrapper img
  align-content: center
  justify-content: center

.word-of-day
  background-color: $background-wof
  padding: 5px 1px 3px
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px

.word-of-day-text
  font-family: 'Rochester', cursive
  font-weight: 400
  font-size: 18px
  font-style: italic
  line-height: 23px
  text-align: center
  color: #DCD1D1
