// BACKGROUND
$background: rgb(12, 12, 12)
$background-second: #7A7A7A
$background-dark: #000

// SHADOW
$shadow-color: #000

// TEXT COLORS
$color-text: rgb(231, 233, 234)
$color-text-shadow: rgba(231, 233, 234, 0.64)

// COLOR
$primary: #321640
$secondary: #262626
$third: #1b976e
$white-color: #FFF

// BUTTON
$button-font: "Pangolin"
$button-color: $third

// FONTS
$twitter-font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif
$font-size-small: 10px
$link-color: $third

// DEFAULT COMPONENTS
root
  scroll-behavior: smooth

*
  box-sizing: border-box
  padding: 0
  margin: 0

html,
body
  max-width: 100vw
a
  color: inherit
  text-decoration: none

body
  background-color: $background

.background-dark
  background-color: $background-dark
