@import "../variables"

.feed-page
  color: $color-text
  font-size: 18px
  line-height: 28px
  letter-spacing: .01em
  font-weight: 300
  box-sizing: border-box
  font-family: $twitter-font-family

.feed-page p
  margin-block-start: 1em
  margin-block-end: 1em
  margin-inline-start: 0
  margin-inline-end: 0
  text-align: justify

.feed-page aside
  display: none
  visibility: hidden

.feed-page h1
  border-bottom: 1px solid $color-text-shadow
  padding-bottom: 16px
  font-size: 40px
  font-weight: 700
  line-height: 46px
  text-align: center

.feed-page h2
  font-weight: normal
  text-align: left

.feed-page h3, .feed-page h4
  font-weight: normal
  text-align: left

.feed-page h1, .feed-page h2, .feed-page h3, .feed-page h4
  margin: 40px 0 24px

.feed-page strong, .feed-page b
  color: $link-color
  font-weight: 400

.feed-page a
  color: $link-color
  target: behind

.feed-page a:visited
  color: $color-text

.feed-page ul
  list-style: square
  padding: 2%
  margin-top: 1%
  margin-bottom: 1%

.feed-page li
  font-weight: bolder

.feed-page table
  padding: 1%
  margin-top: 2%
  margin-bottom: 2%
  width: 100%
  height: auto
  max-height: 100%
  border-bottom: solid $primary 1px
  border-top: solid $primary 1px

.feed-page table tbody tr:first-child
  background-color: $primary
  padding: 3%

.feed-page table tbody tr
  margin: 1%
  text-align: center

.feed-page figcaption
  font-size: x-small
  font-style: italic

.feed-page img, .feed-page figure
  width: auto
  height: auto
  max-height: 100%
  max-width: 100%

.feed-page .wp-post-image
  width: auto
  max-width: 55%

.political-name
  color: #ffe970

.cta-middle, .infomoney-related-posts, .cta-end, .cta-begin, .cta-start, .post__video, .instagram-media
  display: none
  visibility: hidden

input[type=radio], input[type=submit], input[type=email], .gallery__navigation
  display: none
  visibility: hidden

.wp-video
  display: flex
  justify-content: center
  align-items: center
  vertical-align: middle
  width: 100%


.wp-video-shortcode
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  min-width: 848px
