@import "../variables.sass"

$border-techlist-filter: solid 0.5px $white-color

.techlist
  color: $color-text
  font-family: $twitter-font-family

h4.techlist, p.techlist
  font-weight: bolder
  text-align: center
  text-transform: capitalize

span.techlist
  font-size: $font-size-small

.techlist-filter
  background-color: $background-dark
  border-bottom: $border-techlist-filter
  border-left: $border-techlist-filter
  border-right: $border-techlist-filter

  @extend .techlist

